<!DOCTYPE html>
<html lang="en" ng-app="shoppingList">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>BEST shopping list</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel="stylesheet" href="lib/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-2 col-xs-12 col-xs-offset-0">
                <img src="img/Drawing.png" class="containerImage" align="middle"/>
            </div>
        </div>
    </div>
    <h2 class="forHeaders">Add item</h2>
    <div ng-controller="appController">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-2 col-xs-12 col-xs-offset-0">
                  <div align="center" class="container">
                      <form name="addItemForm">
                          <table align="middle" class="tableStyle">
                              <thead>
                              <tr>
                                  <td align="center"><label class="forLabelsInput" for="itemName">Item Name:</label></td>
                                  <td align="center"><label class="forLabelsInput" for="itemPrice">Price:</label></td>
                                  <td align="center"><label class="forLabelsInput" for="itemQuantity">Quantity:</label></td>
                              </tr>
                              </thead>
                             <tbody>
                             <tr>
                                 <td><input  class="inputs" type="text" ng-model="itemModel.itemName" required id="itemName"/></td>
                                 <td><input  class="inputs"type="number" ng-model="itemModel.itemPrice" required id="itemPrice"/></td>
                                 <td><input class="inputs" type="number" ng-model="itemModel.itemQuantity" id="itemQuantity"/></td>

                                 <td><button  class="btn btn-primary" ng-click="submitItem(itemModel)" class="forButtons">Add</button></td>
                             </tr>
                             </tbody>


                          </table>
                      </form>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-2 col-xs-12 col-xs-offset-0">
                  <h2 class="forHeaders">Shopping List</h2>
                  <div class="container">
                      <table class="tableStyle">
                          <thead>
                          <tr>
                              <td align="center" class="forLabelsInput">Item Name:</td>
                              <td align="center" class="forLabelsInput">Price:</td>
                              <td align="center" class="forLabelsInput">Quantity:</td>
                              <td align="center" class="forLabelsInput">Bought?</td>
                              <td align="center" class="forLabelsInput">Delete</td>
                              <td align="center" class="forLabelsInput">Add</td>
                          </tr>
                          </thead>
                          <tbody  class="textOutput">
                          <tr ng-repeat="item in data" class="tableRow" ><td data-toggle="modal" data-target=".bs-example-modal-sm" ng-class="{checked:item.bought, itemName:true}" ng-click="changeLastUsed(item)">{{item.name}}</td><td>{{item.price | currency}}</td><td>{{item.quantity}}</td>
                              <td><input type="checkbox"  name="checkBought" id="checkBought" ng-click="switchChecked(item, addItemForm)" ng-checked="item.bought"/> </td>
                              <td><button class="btn btn-primary" ng-click="deleteItem(item)">X</button></td>
                              <td><button class="btn btn-primary" ng-click="changeQty(item)">+</button></td>
                              <td><button class="btn btn-primary" ng-click="changeQty(item, true)">-</button></td>
                          </tr>
                          </tbody>
                      </table>
                      <div class="modal fade bs-example-modal-sm"id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="exampleModalLabel">Change the name of the item</h4>
                                  </div>
                                  <div class="modal-body">
                                      <form>
                                          <div class="form-group">
                                              <label for="new-item-name" class="control-label">New name:</label>
                                              <input type="text" ng-model="newName" class="form-control" id="new-item-name">
                                          </div>
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary" ng-click="changeName(item)" data-dismiss="modal">Confirm change</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <br />
                      <div class="textOutput">
                          Total spent: {{totalSpent | currency}}
                          <button class="btn btn-primary refreshList" ng-click="refreshList()">New List</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/appController.js"></script>
    <script src="js/services/shoppingData.js"></script>
</body>
</html>